html {
  background-color: blue;
}
body {
  background-color: aqua;
  min-height: 100vh;
}

#sidebar {
  background-color: aquamarine;
  min-height: 100vh;
}

.nav-item {
  border-radius: 50px;
}

.nav-item:hover {
  background-color: blue;
}
